
html{
}
body {
   background-color:black;

}

#opt1 {
  display: block;
  margin: auto;
  width: 450px;
  position: absolute;
  left:200px;

}

#opt2 {
  display: block;
  margin: auto;
  width: 450px;
  position: absolute;
  left:650px;

}
